// SideBar global css in SCSS form


.item-side-bar-active {
  margin: 10px;
  border-radius: 15px;
  background: rgba(73, 157, 245, 25%);
  color: #396AFF !important;
}

.profile-img { // style for image profile user
  margin: 20px auto 15px auto;
  border-radius: 200px;
}

.profile-text { // style for text (fullName) profile user
  font-size: 17px !important;
  margin-bottom: 15px;
  color: #4a4a4a;
}

.user-name {
  font-size: 16px;
}
.item-side-bar { // style Items sidebar
  margin: 10px;
  color: #373737;
  border-radius: 15px;
}

aside { // overwrite style quasar component aside  for header
  margin: 12px;
  border-radius: 20px;
}

.q-drawer__content { // overwrite style quasar class q-drawer__content  for sidebar
  border-radius: 20px;
}

.q-drawer { // overwrite style quasar class q-drawer  for sidebar
  box-shadow: 0 2px 5px 0 rgba(122, 122, 122, 0.2), 0 6px 20px 0 rgba(129, 129, 129, 0.19);
}

.b-content {
  margin: 10px 10px 10px 25px;
  border-radius: 12px;
}

.b-shadow {
  box-shadow: 0 2px 5px 0 rgba(122, 122, 122, 0.2), 0 6px 20px 0 rgba(129, 129, 129, 0.19);
}
.b-z-50 {
  z-index: 100 !important;
}

@media (max-width: 998px) {
  .b-content {
    margin: 10px 10px 10px 10px !important;
    border-radius: 12px;
  }
}
